TELEGRAM_BOT_TOKEN="YOUR_BOT_TOKEN"
TELEGRAM_CHAT_ID="YOUR_CHAT_ID"

SERVICE_LIST="apache2 mysql ssh php8*"

DASHBOARD_API_URL="https://your-dashboard.com/api/server_monitor"
DASHBOARD_API_TOKEN="YOUR_DASHBOARD_API_TOKEN"
